body,
html {
    background-color: #F2EBE5
}
body {
    padding-bottom: 50px;
}


h1.title {
    width: 344px; 
    height: 99px; 
    left: 270px; 
    top: 137px; 
    position: absolute; 
    color: #38455A; 
    font-size: 48px;
    font-family: PP Acma;
    font-weight: 600; 
    text-transform: uppercase; 
    line-height: 50px; 
    word-wrap: break-word
}

h2.subtitle {
    width: 331.03px;
    height: 147.31px; 
    left: 745px; 
    top: 253px; 
    position: absolute; 
    color: #38455A; 
    font-size: 36px; 
    font-family: PP Acma; 
    font-weight: 600; 
    text-transform: uppercase; 
    line-height: 50px; 
    word-wrap: break-word
}

h3.name {
    width: 284px; 
    height: 49px; 
    left: 50px; 
    top: 0px;
    position: absolute;
    color: #38455A; 
    font-size: 18px; 
    font-family: IBM Plex Mono; 
    font-weight: 400; 
    text-transform: uppercase; 
    line-height: 50px; 
    letter-spacing: 1.92px;
    word-wrap: break-word
}

.textbox {
    width: 575px;
    height: 100px;
    top: 776px;
    left: 350px;
    position: absolute;
    color: #38455A; 
    font-size: 48px; 
    font-family: PP Acma; 
    font-weight: 600; 
    text-transform: uppercase; 
    line-height: 50px; 
    word-wrap: break-word;
}

#img1 {
    width: 256px; 
    height: 256px; 
    top: 464px; 
    left: -213px;
    position: absolute;
}

#img2 {
    width: 198px; 
    height: 188px; 
    top: 532px; 
    left: 77px;
    position: absolute;
}

#img3 {
    width: 303px; 
    height: 282px; 
    top: 438px;
    left: 376px;
    position: absolute;
}

#img4 {
    width: 220px; 
    height: 212px; 
    top: 508px;
    left: 705px;
    position: absolute;
}

#img5 {
    width: 256px; 
    height: 256px;
    top: 464px; 
    left: 951px;
    position: absolute;
}

#img6 {
    width: 231px; 
    height: 222px;
    top: 498px; 
    left: 1324px;
    position: absolute; 
}

#url {
    width: 645px; 
    height: 393px; 
    top: 963px;
    left: 635px;
    position: absolute;
    background: #F2EBE5; 
    border-radius: 12px; 
    border: 2px #38455A solid;
    font-family: IBM Plex Mono; 
    color: #38455A; 
    font-weight: 400; 
    font-size: 24px;
    text-transform: uppercase; 
    line-height: 50px; 
    user-select: none;
    word-wrap: break-word;
    transition: all .2s ease-in-out; 
}

#url:hover {
    transform: scale(1.05); 
}

input::selection {
    background-color:#F2EBE5;
}

.generate {
    width: 160px; 
    height: 53px; 
    top: 1278px;
    left: 1103px;
    position: absolute;
    background: #F2EBE5; 
    border-radius: 12px; 
    border: 2px #38455A solid;
    text-align: center; 
    color: #38455A; 
    font-size: 24px; 
    font-family: IBM Plex Mono; 
    font-weight: 400; 
    text-transform: uppercase; 
    line-height: 50px; 
    letter-spacing: 1.92px; 
    word-wrap: break-word;
    transition-duration: 0.4s;
}

.generate:hover {
    background-color: #38455A;
    color: #F2EBE5;
    transform: scale(1.05); 
}

.bottom {
    width: 1440px; 
    height: 67px; 
    background: #F2EBE5;
    top: 1412px;
    position: absolute;
}

.header {
    top: 126px;
    left: 450px;
    position: absolute;
    color: #38455A; 
    font-size: 48px; 
    font-family: PP Acma; 
    font-weight: 600; 
    text-transform: uppercase; 
    line-height: 50px; 
    word-wrap: break-word
}

#result1 {
    top: 232px;
    left: 238px;
    position: absolute;
}

#result2 {
    top: 232px;
    left: 569px;
    position: absolute;
}

#result3 {
    top: 232px;
    left: 900px;
    position: absolute;
}

.result-images {
    width: 303px; 
    height: 282px;
    border-radius: 10px; 
    transition: all .2s ease-in-out; 
}

.result-images:hover {
    transform: scale(1.05); 
}