<!DOCTYPE html>

<html> 
<head>

</head>

<body>
    <h1>Welcome, {{name}}</h1>

    
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <div>
            <label for="url">Spotify Playlist URL:</label>
            <input type="text" id="url" name="url"> 
        </div>

        <br>

        <div>
            <input type="submit" value="Submit">
        </div>

        <br>

        <div>
            {% if image_url %}
            <img src="{{ image_url }}" alt="Playlist Cover Image">
            {% endif %}
        </div>
        
    </form>
    
</body>
</html>


